// todo: move to colors
$invalid-color: red;

.add-link-form {
  .submit-form-button {
    display: none;
  }

  .href-input.href-is-invalid {
    border: 1px solid $invalid-color;

    &:focus {
      outline-color: $invalid-color;
    }
  }
}
