@import '../../styles/theme';

.category-linky {
  display: flex;
  flex-direction: column;

  &-title-wrapper {
    display: flex;
    align-items: center;
    transition: opacity 200ms ease-in-out;

    &:hover {
      text-decoration: underline;
    }

    &:not(:hover) {
      &.color-2-weeks {
        opacity: $category-linky-title-wrapper-opacity-2-weeks;
      }
      &.color-1-month {
        opacity: $category-linky-title-wrapper-opacity-1-month;
      }
      &.color-3-month {
        opacity: $category-linky-title-wrapper-opacity-3-month;
      }
      &.color-6-month {
        opacity: $category-linky-title-wrapper-opacity-6-month;
      }
      &.color-1-year {
        opacity: $category-linky-title-wrapper-opacity-1-year;
      }
    }

    & > .linky-actions-menu-trigger {
      height: auto;
      width: auto;
      padding: 0;

      .menu-trigger-icon {
        font-size: $category-linky-actions-menu-trigger-icon-size;

        svg {
          transition: transform 200ms ease-in-out;
        }
      }
    }
  }

  &-title-wrapper &-edit-trigger {
    flex: 0;
  }

  &-form-wrapper {
    transition: height 200ms ease-in-out;
    overflow: hidden;
    height: 0;
  }

  &-form-wrapper-expand {
    height: 24 * 4px;

    &.link-form-errors-1 {
      height: 24 * 5px;
    }

    &.link-form-errors-2 {
      height: 24 * 6px;
    }
  }
}
