@import '../../styles/theme';

.category-linky {
  display: flex;
  flex-direction: column;

  &-title-wrapper {
    display: flex;
    align-items: center;

    & > .linky-actions-menu-trigger {
      height: auto;
      width: auto;
      padding: 0;

      .menu-trigger-icon {
        font-size: $category-linky-actions-menu-trigger-icon-size;

        svg {
          transition: transform 200ms ease-in-out;
        }
      }
    }
  }

  &-title-wrapper &-edit-trigger {
    flex: 0;
  }

  &-form-wrapper {
    transition: height 200ms ease-in-out;
    overflow: hidden;
    height: 0;
  }

  &-form-wrapper-expand {
    height: 96px;
  }
}
