@import '../theme.scss';

.ant-layout {
  background: $layout-body-background;

  .ant-layout-header {
    background: $layout-header-background;
  }

  .ant-layout-footer {
    background: $layout-footer-background;
  }
}
