// node_modules/antd/lib/menu/style/index-pure.less
@import '../themes/index.scss';

.ant-menu {
  background: $menu-bg;

  &-submenu-selected {
    color: $menu-highlight-color;
  }

  &-item a {
    &:hover {
      color: $menu-highlight-color;
    }
  }

  &-item-selected {
    a,
    a:hover {
      color: $menu-highlight-color;
    }
  }

  &-item:active,
  &-submenu-title:active {
    background: $menu-item-active-bg;
  }

  &-horizontal:not(.ant-menu-dark) > &-item,
  &-horizontal:not(.ant-menu-dark) > &-submenu {
    a {
      &:hover {
        color: $menu-highlight-color;
      }
    }

    &-selected a {
      color: $menu-highlight-color;
    }

    &:hover,
    &-active,
    &-open,
    &-selected {
      color: $menu-highlight-color;

      &::after {
        border-bottom: 2px solid $menu-highlight-color;
      }
    }
  }

  &-light {
    .ant-menu-item:hover,
    .ant-menu-item-active,
    .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
    .ant-menu-submenu-active,
    .ant-menu-submenu-title:hover {
      color: $menu-highlight-color;
    }
  }
}
