@import '../theme';

.ant-skeleton {
  &-content &-title,
  &-content &-paragraph > li {
    height: $skeleton-paragraph-li-height;
    margin-top: $skeleton-paragraph-li-margin-top;

    + li {
      margin-top: $skeleton-paragraph-li-margin-top;
    }
  }
}
