@mixin generate-icon($icon, $order) {
  &.#{$icon} {
    background-position: 0 #{-128 * $order}px;
  }

  &.small.#{$icon} {
    background-position: 0 #{-64 * $order}px;
  }

  &.x-small.#{$icon} {
    background-position: 0 #{-32 * $order}px;
  }

  &.xx-small.#{$icon} {
    background-position: 0 #{-16 * $order}px;
  }
}

@mixin generate-icons($icons) {
  @for $i from 1 through length($icons) {
    $icon: nth($icons, $i);
    @include generate-icon($icon, $i - 1);
  }
}

.google-icon {
  background-image: url('./conqueretica_icons_set.png');
  background-repeat: no-repeat;
  height: 128px;
  width: 128px;
  min-width: 128px;
  display: inline-flex;
  background-size: 100% auto;

  &.small {
    height: 64px;
    width: 64px;
    min-width: 64px;
  }

  &.x-small {
    height: 32px;
    width: 32px;
    min-width: 32px;
  }

  &.xx-small {
    height: 16px;
    width: 16px;
    min-width: 16px;
  }

  $icons: (
    'meet',
    'docs',
    'gmail',
    'sheets',
    'slides',
    'calendar',
    'youtube',
    'drive',
    'confluence',
    'jira',
    'lucid-charts',
    'figma',
    'github',
    'gitlab',
    'code-commit',
    'drawings',
    'trello',
    'zoom',
    'slack',
    'telegram'
  );
  @include generate-icons($icons);
}
