@import '../../styles/theme';

.column {
  min-width: $column-min-width;

  .column-header {
    border-radius: $column-header-border-radius;
    border-top: 1px solid $column-header-border-color;
    padding: $column-header-padding;
  }
}
