// node_modules/antd/lib/style/themes/default.less

@import "../color/colors";

// Outline
$outline-fade: 20%;

// -------- Colors -----------
// >>> Primary
$primary-color: $claret;
$primary-1: lighten($primary-color, 40%);
$primary-2: lighten($primary-color, 32%);
$primary-3: lighten($primary-color, 24%);
$primary-4: lighten($primary-color, 16%);
$primary-5: lighten($primary-color, 8%);
$primary-6: $primary-color;
$primary-7: darken($primary-color, 8%);

// Background color for `<body>`
$body-background: $white;
// Base background color for most components
$component-background: $white;

// Layout
$layout-body-background: $white;
$layout-header-background: $white;
$layout-header-height: 50px;
$layout-header-padding: 0 50px;
$layout-footer-background: $layout-body-background;

// Menu
$menu-bg: $component-background;
$menu-highlight-color: $primary-color;
$menu-item-active-bg: $primary-1;

// Buttons
$btn-primary-color: #fff;
$btn-primary-bg: $primary-color;
$btn-default-bg: $component-background;
$btn-group-border: $primary-5;
