// node_modules/antd/lib/style/themes/default.less

// -------- Color Names (do not use it directly in components!) -----------
$white: #fff;
$athens-grey: #f0f2f5;
$claret: #951f40;

// -------- Colors -----------
// >>> Primary
$primary-color: $claret;
$primary-1: lighten($primary-color, 40%);
$primary-2: lighten($primary-color, 32%);
$primary-3: lighten($primary-color, 24%);
$primary-4: lighten($primary-color, 16%);
$primary-5: lighten($primary-color, 8%);
$primary-6: $primary-color;
$primary-7: darken($primary-color, 8%);

// === Ant Components

// Ant Layout
$layout-body-background: transparent;
$layout-header-background: $layout-body-background;
$layout-footer-background: $layout-body-background;

// Ant Skeleton
$skeleton-paragraph-li-height: 10px;
$skeleton-paragraph-li-margin-top: 10px;

// Ant Form
$ant-form-item-margin: 0 0 0 5px;

// Ant Popover
$ant-popover-padding: 5px;

// === Custom Components

// App
$app-height: 100vh;

// AuthForm
$auth-form-width: 300px;

// AppHeader
$app-header-shadow: 0 2px 8px $athens-grey;
$app-header-height: 50px;
$app-header-padding: 0 50px;
$app-header-google-links-trigger-margin: 0 20px 0 0;

// AppFooter
$app-footer-shadow: 0 -2px 8px $athens-grey;
$app-footer-height: 50px;
$app-footer-padding: 0 50px;

// Links Page
$links-page-content-wrapper-padding: 20px;
$links-page-columns-wrapper-padding: 20px 0 0;

// Sign In Page
$sign-in-page-error-wrapper-height: 100px;
$sign-in-page-error-wrapper-padding: 20px;
$sign-in-page-error-wrapper-max-width: 600px;

// Sign Up Page
$sign-up-page-error-wrapper-height: 100px;
$sign-up-page-error-wrapper-padding: 20px;
$sign-up-page-error-wrapper-max-width: 600px;

// Tab
$tab-title-padding: 10px 0;
$tab-padding-horizontal: 20px;
$tab-padding: 0 $tab-padding-horizontal;
$tab-active-border-width: 2px;
$tab-highlight-color: $primary-color;

// Columns
$columns-create-column-wrapper-padding: 5px;

// Column
$column-min-width: 160px;
$column-header-border-radius: 10px 10px 0 0;
$column-header-border-color: $primary-color;
$column-header-padding: 10px 0 0 0;
$column-categories-padding: 0 5px;
$column-btn-enable-add-category-font-size: small;

// Linky
$linky-font-size: small;

// Category
$category-btn-enable-add-link-font-size: small;
$category-border-color: $primary-color;
$category-padding: 0 0 5px 0;

// CategoryLinky
$category-linky-actions-menu-trigger-icon-size: 12px;
$category-linky-title-wrapper-opacity-2-weeks: 0.8;
$category-linky-title-wrapper-opacity-1-month: 0.6;
$category-linky-title-wrapper-opacity-3-month: 0.4;
$category-linky-title-wrapper-opacity-6-month: 0.2;
$category-linky-title-wrapper-opacity-1-year: 0.1;
$category-linky-delete-confirmation-color: $white;
$category-linky-delete-confirmation-padding: 10px 5px;
$category-linky-delete-confirmation-font-size: small;
$category-linky-delete-confirmation-opacity: 1;
$category-linky-delete-confirmation-footer-btn-margin: 5px;

// UserAvatar - it should be a component but it doesn't work for Ant's Dropdown as a trigger
$user-avatar-bg: $primary-color;
.user-avatar {
  background: $user-avatar-bg;
}

// QuickAccessLinksMenu
$quick-access-links-menu-width: 365px;
$quick-access-links-menu-padding: 10px;
$quick-access-links-menu-card-padding: 10px;

// LinkyInfo
$linky-info-max-width: 300px;
$linky-info-font-size: small;
$linky-info-list-item-padding: 2px;
$linky-info-title-list-item-padding: 5px;
