// node_modules/antd/lib/style/themes/default.less

// -------- Color Names (do not use it directly in components!) -----------
$white: #fff;
$athens-grey: #f0f2f5;
$claret: #951f40;

// -------- Colors -----------
// >>> Primary
$primary-color: $claret;
$primary-1: lighten($primary-color, 40%);
$primary-2: lighten($primary-color, 32%);
$primary-3: lighten($primary-color, 24%);
$primary-4: lighten($primary-color, 16%);
$primary-5: lighten($primary-color, 8%);
$primary-6: $primary-color;
$primary-7: darken($primary-color, 8%);

// === Ant Components

// Ant Layout
$layout-body-background: transparent;
$layout-header-background: $layout-body-background;
$layout-footer-background: $layout-body-background;

// Ant Skeleton
$skeleton-paragraph-li-height: 10px;
$skeleton-paragraph-li-margin-top: 10px;

// === Custom Components

// App
$app-height: 100vh;

// AppHeader
$app-header-shadow: 0 2px 8px $athens-grey;
$app-header-height: 50px;
$app-header-padding: 0 50px;
$app-header-user-bg: $primary-color;
$app-header-user-skeleton-min-width: 100px;
$app-header-google-links-trigger-margin: 0 10px 0 0;

// AppFooter
$app-footer-shadow: 0 -2px 8px $athens-grey;
$app-footer-height: 50px;
$app-footer-padding: 0 50px;

// Links Page
$links-page-content-wrapper-padding: 20px;
$links-page-columns-wrapper-padding: 20px 0 0;

// Tabs

// Tab
$tab-title-padding: 10px 0;
$tab-padding-horizontal: 20px;
$tab-padding: 0 $tab-padding-horizontal;
$tab-active-border-width: 2px;
$tab-highlight-color: $primary-color;

// Single Input Form
$single-input-form-item-margin: 0 2px 0 0;

// Columns
$columns-create-column-wrapper-padding: 5px;

// Column
$column-min-width: 160px;
$column-header-border-radius: 10px 10px 0 0;
$column-header-border-color: $primary-color;
$column-header-padding: 10px 0 0 0;
$column-categories-padding: 0 5px;

// Linky
$linky-font-size: small;

// Category
$category-btn-enable-add-link-font-size: small;
$category-border-color: $primary-color;
$category-padding: 5px 0;

// LinkForm
$link-form-button-margin: 0 0 0 5px;
