// node_modules/antd/lib/style/themes/default.less

// -------- Color Names (do not use it directly in components!) -----------
$white: #fff;
$athens-grey: #f0f2f5;
$claret: #951f40;

// -------- Colors -----------
// >>> Primary
$primary-color: $claret;
$primary-1: lighten($primary-color, 40%);
$primary-2: lighten($primary-color, 32%);
$primary-3: lighten($primary-color, 24%);
$primary-4: lighten($primary-color, 16%);
$primary-5: lighten($primary-color, 8%);
$primary-6: $primary-color;
$primary-7: darken($primary-color, 8%);

// Ant Layout
$layout-body-background: $white;
$layout-header-background: $white;
$layout-header-height: 50px;
$layout-header-padding: 0 50px;
$layout-footer-background: $layout-body-background;

// App
$app-content-wrapper-padding: 20px 0 0;

// AppHeader
$app-header-shadow: $athens-grey;
$app-header-user-bg: $primary-color;

// Links Page
$links-page-columns-wrapper-padding: 20px 0 0;

// Tabs
$tabs-padding: 0 20px;

// Tab
$tab-padding-horizontal: 20px;
$tab-padding: 5px $tab-padding-horizontal;
$tab-active-border-width: 2px;
$tab-highlight-color: $primary-color;
