@import '../../assets/colors.scss';

.main-page-header {
  background-color: $shark;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $white;
}

.main-page-wrapper {
  display: flex;
  width: 100%;
}

.main-page-side-bar {
  flex: 1 1 100px;
  background: $zanah;
}

.main-page-dashboard {
  flex: 1 1 90%;
}
