@import '../../styles/theme';

.linky {
  font-size: $linky-font-size;

  & &-icon-wrapper {
    display: inline-flex;
    min-width: 20px;
  }

  & u > &-icon-wrapper,
  & > &-icon-wrapper {
    vertical-align: middle;
  }
}
