@import '../../styles/mixins';
@import '../../styles/theme';

.quick-access-links-menu {
  @include block-shadow();
  width: $quick-access-links-menu-width;

  .ant-card-body {
    padding: $quick-access-links-menu-padding;
  }

  & &-card:not(:hover) {
    box-shadow: none;
  }
  & &-card,
  & &-card:hover {
    padding: $quick-access-links-menu-card-padding;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }
}
