@import '../../styles/theme';

.tab {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  padding: $tab-padding;

  &-title {
    padding: $tab-title-padding;
  }

  &-actions-menu-trigger {
    &.ant-btn-icon-only {
      height: auto;
      padding: 0;
    }
  }

  &::after {
    position: absolute;
    right: $tab-padding-horizontal;
    bottom: 0;
    left: $tab-padding-horizontal;
    border-bottom: $tab-active-border-width solid transparent;
    transition: border-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    content: '';
  }

  &:not(.edit-mode):hover,
  &-selected {
    color: $tab-highlight-color;

    &::after {
      border-bottom: $tab-active-border-width solid $tab-highlight-color;
    }
  }
}
