@import '../../styles/theme';

.app-header {
  display: flex;
  box-shadow: $app-header-shadow;

  &.ant-layout-header {
    line-height: $app-header-height;
    height: $app-header-height;
    padding: $app-header-padding;
  }

  .left-wrapper {
    flex: 1 0 auto;
  }

  .right-wrapper {
    display: flex;
    align-items: center;
  }

  .navigation {
    border: none;
  }

  .user-skeleton {
    min-width: $app-header-user-skeleton-min-width;
  }

  & &-user-avatar {
    cursor: pointer;
  }

  &-google-links-trigger {
    margin: $app-header-google-links-trigger-margin;
  }
}
