@import '../../styles/theme';

.sign-in-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .error-wrapper {
    display: flex;
    height: $sign-in-page-error-wrapper-height;
    padding: $sign-in-page-error-wrapper-padding;
    max-width: $sign-in-page-error-wrapper-max-width;
  }
}
